@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "condensed";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/OpenSansHebrewCondensed-Bold.woff") format("woff");
}
@font-face {
  font-family: "condensedItalic";
  font-weight: bold;
  font-style: italic;
  src: url("./assets/fonts/OpenSansHebrewCondensed-BoldItalic.woff") format("woff");
}
*{
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}
.toast-success-light {
  color: #404040;
  background-color: #e5e5e5; 
}
.toast-error-light {
  color: #404040;
  background-color: #e5e5e5; 
}

.toast-success-dark {
  color: #e2e8f0;
  background-color: #262626;
}
.toast-error-dark {
  color: #e2e8f0;
  background-color: #262626;
}