@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "condensed";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/OpenSansHebrewCondensed-Bold.woff") format("woff");
}
@font-face {
  font-family: "condensedItalic";
  font-weight: bold;
  font-style: italic;
  src: url("./assets/fonts/OpenSansHebrewCondensed-BoldItalic.woff") format("woff");
}
*{
  scroll-behavior: smooth;
}